body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


input {
    height: 35px;
    border-radius: 2px;
    border: 1px solid #efefef;
    text-align: center;
}

p {
    font-size: 40px;
}

#cash-in-drawer{
    width: auto;margin-left: auto; margin-right: auto;
    margin-top:20px;margin-bottom: 20px;
    border:1px solid #efefef;
    background-color: #efefef;
}
td{
    margin:1px;
}
tr.head td{
    background-color: #555;
    color:#fff;
    padding-top:10px;padding-bottom:10px;
}
table input{
    height:25px;
}


button{
    color: #fff;
    background-color:#555;
    transition-duration: 0.5s;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    border-radius: 2px;
    border: 1px solid #efefef;
    cursor: pointer;
    display: block;
    width: auto;margin-left: auto;margin-right: auto;margin-top:20px;
}
button:hover{
    background-color: #fff;
    color:#555;
    transition-duration: 0.5s;
}

#wrapper{
    display:flex; flex-direction: row; flex-wrap: wrap; justify-content: center;
}